/* Responsive styling for smartphones */
@media only screen and (max-width: 430px) {

  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


  * {
    max-width: 100%;
    box-sizing: border-box;
  }


  .body-container {
    width: 100%;
  }


  .navbar-list {
    flex-direction: row;
    justify-content:space-around;
  }

  .navbar-item a{
    font-size:1.5rem;
  }



  .head-container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
  }

  .head-title h1{
    font-size:3rem;
  }

  .head-title h2{
    font-size:1.5rem;
  }

  .service-container {
    width: 90%;
    padding-bottom: 80px;
  }

.service-title p{
  font-size:1.5rem;
}


  .service-list {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 90%;
    margin-bottom: 20px;
  }

  .service-title h2{
    margin:0;
    font-size:2rem;
    padding:24px;
  }


  .employer-benefits-container,
  .jobseeker-benefits-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .employer-info,
  .jobseeker-info {
    width: 90%;
  }

  .employer-image,
  .jobseeker-image {
    width: 250px; /* Smaller images */
  }

  .collaborator-containers {
    padding: 24px;
  }

  .collaborators {
    flex-direction: column;
    align-items: center;
  }

  .collaborator {
    margin-bottom: 16px;
  }

  .collaborator-image {
    width: 150px;
  }




  .footer-container {
    text-align: center;
    padding: 20px;
  }


  .signup-form input,
  .signup-button {
    width: 90%;
    font-size: 1rem;
    padding-top:1rem;
  }

  .signup-button {
    padding: 10px;
  }

  .contact-title,
  .fa-solid {
    font-size: 1rem;
  }
}
