/* Responsive styling for smartphones */
@media only screen and (max-width: 430px) {
  .navbar-list {
    flex-direction: column;
    text-align: center;
  }

  .head-container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%; /* Reduce width for smaller screens */
  }

  .service-container {
    width: 100%;
    padding-bottom: 80px;
  }

  .service-list {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 90%;
    margin-bottom: 20px;
  }

  .employer-benefits-container,
  .jobseeker-benefits-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .employer-info,
  .jobseeker-info {
    width: 90%;
  }

  .employer-image,
  .jobseeker-image {
    width: 250px; /* Smaller images */
  }

  .collaborator-containers {
    padding: 24px;
  }

  .collaborators {
    flex-direction: column;
    align-items: center;
  }

  .collaborator {
    margin-bottom: 16px;
  }

  .collaborator-image {
    width: 150px; /* Smaller collaborator images */
  }

  .footer-container {
    text-align: center;
    padding: 20px;
  }

  .signup-form input,
  .signup-button {
    width: 100%;
    font-size: 1.2rem;
  }

  .signup-button {
    padding: 10px;
  }

  .contact-title,
  .fa-solid {
    font-size: 1rem;
  }
}
