* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
}

.navbar{
  position: fixed;
  padding: 0.5em 1em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5em 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
  background-color: #38BDA6;
  color: black;
}

.navbar .navbar-item a {
  color: white; /* Default color */
  transition: color 0.3s;
}

.navbar.scrolled .navbar-item a {
  color: black; /* Change font color to black when scrolled */
}


.navbar-list{
  display: flex;
  list-style: none;
  justify-content:end;
  align-items:center;
  text-decoration:none;
}

.navbar-item a{
  text-decoration:none;
  color:white;
  padding: 8px;
  font-size:2rem
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height:100vh;

}

.banner-text{
  padding-top:14rem;
  padding-left:56rem;
}


.banner h1 {
  margin: 0;
  color: #38BDA6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 7rem;
  font-weight: bold;
}

.banner p {
  font-size: 3rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.coming-sson{
  font-size:158px;
}

.about-us-container{
  margin:0 auto;
  padding-top:120px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-us-portrait{
  clip-path: polygon(55% 0%, 20% 80%, 100% 100%);
  border-radius:80%;
  padding-right: 1rem;
  transition: transform 0.6s ease;
}

.about-us-portrait:hover{
  transform: scale(1.05);
}

.about-us-text h2,
.about-us-text h3{
  color: #38BDA6;
}


.about-us-text h2{
  font-size:3rem;
  padding-bottom:1rem;
}

.about-us-text h3{
  font-size: 2rem;
  padding-bottom:1rem;
}

.about-us-text p{
  font-size: 1.5rem;
}


.what-is-container{
  margin:0 auto;
  padding: 34px;
  padding-top:36px;
  width: 80%;
}

.what-is-title-text{
  color: #38BDA6;
  font-size: 2rem;
  margin:0 auto;
  padding:102px;
  align-items:center;
  text-align:center;
}

.what-is-card{

  margin:24px;
  min-width:1.5rem;
  font-size:1.5rem;
  color: #38BDA6;
  border-radius: 8px;
  padding:24px;
}


.what-is-cards{
  margin:0 auto;

}


.what-is-card{
  display:flex;
}

.what-is-card-image{
  border-radius:8px;
}


.what-is-card-text{
text-align:center;
}

.what-is-card-text p{
color:black;
}


.footer{
  background-color:lightgray;
  min-height:30vh;
}
